*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
header {
  background: rgba(0,0,0,0.6);
  color: white;
  border-bottom: 10px solid #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-attachment: fixed;
}
.logo {
  color: black;
  margin-right:auto;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all .5s ease 0.s;
}
nav ul {
  display: flex;
  padding: 10px;
}
li {
  list-style-type: none;
  padding: 10px;
}
li a {
  transition: all .5s ease 0.s;
  display: inline-block;
  color:black;
  font-weight: bolder;
}
.border {
 background-color: rgba(0,0,0,0.6);
}
div p {
  padding: 10px;
}
.visi {
  margin-top: 100px;
  color: white;
  font-size: 20px;
  
}
.visit {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  
}
.isi {
  color:white;
  font-size: 14px;
  
}
.button {
  font-family: bold;
  background: #191970;
  border: none;
  color: white;
  margin-right:10px;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
} 

.learn {
  font-family: Helvetica;
  background: green;
  color: white;
  font-size: 30px;
  padding: 6px 12px;
  border-radius: 6px;
  border:none;
}

.room {
  font-family: Helvetica;
  background: #989da1;
  color: white;
  font-size: 30px;
  padding: 6px 12px;
  border-radius: 6px;
  border:none;
}
  
div a {
  flex-direction: column;
}
li a:hover {
  color: #7fffd4;
  transform: rotate(2deg);
}
a {
  color: white;
  text-decoration: none;
}

.container:{
  max-width: 120px;
  margin: 0 auto;
}
.welcome{ 
  margin-top:200px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}
h2 {
  font-size: 30px;
  font-weight: bolder;
  color: blue;
  background-color: none
}

.fotopai {
  justify-content:center;
  align-items: center;
  width: 100%;
  max-width: 100px;
  height: 20%;
}
.bgweb {
  background-image: url('paib2023jpg.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  background-color: #bed8ec;
}
.hero-content {
  margin-top: ;
}

/* Hero section styling */
.hero {
    background-image: url('header.png');
    background-position: center;
    margin-top:-15%;
    background-repeat: no-repeat;
    background-color: rgba (214,199,234);
    color: white;
    border-bottom: 1px solid #fff;
    background-size:109%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
  font-size: 80px;
  text-align: center;
  position: relative;
}
.but {
  font-size: 40px;
  background-size: 10%;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: column;

}
        .footer {
            background-color: #656b72;
            color: #fff;
            padding: 40px 20px;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        .footer .footer-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 10%;
            
        }

        .footer .footer-content .footer-section {
            flex: 1;
            min-width: 100%;
            margin-bottom: 10px;
        }

        .footer .footer-content h3 {
            margin-bottom: 20px;
            color: #ff6f61;
        }

        .footer .footer-content p, 
        .footer .footer-content a {
            font-size: 14px;
            line-height:1;
            color: #dcdcdc;
            text-decoration: none;
        }

        .footer .footer-content a:hover {
            color: #ff6f61;
        }

        .footer .footer-content .socials a {
            margin-right: 20px;
            font-size: 20px;
            color: #fff;
        }

        .footer .footer-content .socials a:hover {
            color: #ff6f61;
        }

        .footer .footer-bottom {
            text-align: center;
            padding-top: 5px;
            border-top: 1px solid #777;
            margin-top: 10px;
            font-size: 12px;
        }

        @media (max-width: 100vh) {
            .footer .footer-content {
                flex-direction: column;
                text-align: center;
            }

            .footer .footer-content .footer-section {
                margin-bottom: 20px;
            }
.footer-section {
  padding:10px;
}